---
---

@import './bootstrap/css/bootstrap.min.css';
@import './style/Map-Clean.css';
@import './style/Pretty-Footer.css';
@import './style/Projects-Clean.css';
@import './style/Projects-Horizontal.css';
@import './style/Team-Boxed.css';
@import './style/Team-Clean.css';
@import './style/untitled.css';
/*@import './style/Simple-Slider.css';*/
@import './fonts/font-awesome.min.css';

@font-face {
    font-family: MinionPro;
    src: url('./fonts/MinionPro-Regular.otf') format("opentype");
}

@font-face {
    font-family: MinionPro;
    font-weight: bold;
    src: url('./fonts/MinionPro-Bold.otf') format("opentype");
}


/* font-family: MinionPro;
    src: url('./fonts/MinionPro-Regular.otf') format("opentype");
    
    font-family: MinionPro;
    font-weight: bold;
    src: url('./fonts/MinionPro-Bold.otf') format("opentype");
    
    */

/*

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Map-Clean.css">
    <link rel="stylesheet" href="assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="assets/css/Projects-Clean.css">
    <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
    <link rel="stylesheet" href="assets/css/Team-Boxed.css">
    <link rel="stylesheet" href="assets/css/Team-Clean.css">
    <link rel="stylesheet" href="assets/css/untitled.css">

    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">

// External
@import 'external/reset';
@import 'external/syntax';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Publications
@import "layouts/publications";

// Partials
@import 'includes/header';
@import 'includes/footer';

// Page
@import 'page/contact';
@import 'page/research';
@import 'page/people';
@import 'page/projects';

@import './bootstrap/bootstrap-grid.min.css';

// Project template

.two-col-section {

}

.col-1 {
    float: left;
    width: 70%;
    padding-right: 10px;
}

.col-2 {
    font-size: 70%;
    width: 30%;
    float: right;
    border: 1px solid #d1d5da;
    background-color: #f6f8fa;
    padding: 10px;
    margin-top: 20px;
}

.full-width-page {
    clear: both;
}

// End project template
*/  

