{% if site.theme.katex %}
<script src="{{ "/js/katex_init.js" | prepend: site.baseurl }}"></script>
{% endif %}

{% if site.theme.footer_text %}
<footer class="site-footer">
	<p class="text">{{ site.theme.footer_text }}</p>
	<div>
		<div class="footer-row">
			<p>VISITING ADDRESS</p>
			<p>Tallinn University</p>
			<p>Centre for Educational Technology</p>
			<p>Narva road 29</p>
			<p>Astra building (3rd floor)</p>
		</div>
		<div class="footer-row">
			<p>CONTACT</p>
			<p>Phone- 12345678</p>
			<p>Email- mail@mail.com</p>

		</div>
		<div class="footer-row">
			<p>LOGO</p>
		</div>
	</div>
</footer>
{% endif %}
