<footer>
	<div class="row">
		<div class="col-sm-6 col-md-4 footer-contacts">
			<!-- <h3><strong>Centre for Educational Technology</strong></h3>  -->
			<div><i class="fa fa-envelope footer-contacts-icon"></i>
				<p> <a href="#" target="_blank">mail@mail.com</a></p>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 footer-contacts">
			<div><i class="fa fa-phone footer-contacts-icon"></i>
				<p class="footer-center-info email text-left"> +1 555 123456</p>
			</div>
			<!-- Social media links 
			<div class="social-links social-icons">
				<a href="https://www.facebook.com/TLUIFI/" target="_blank"><i class="fa fa-facebook"></i></a>
				
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
	
			</div> 
			-->
		</div>
		<div class="clearfix"></div>
		<!-- <div class="col-md-4 footer-about">
			<h4 class="mt-3">About us</h4>
			<p>Centre for Educational Technology is the research centre of the School of Digital Technology, Tallinn University (TLU).</p>
		</div>
	 -->
	 <p class="company-name">Centre for Educational Technology © 2021</p>
	</div>
</footer>