.picture {
    display: inline-block;
    float: right;
    width: 630px;
    height: auto;
}
.text_container{
    display: inline-block;
}
.text_container p{
    line-height: 1.2;
}
.contact{
    text-align: center;
}