.projects_nav{
    padding-bottom: inherit;
}

.projects_nav a {
    padding-right: 15px;
}

.project_info{
    padding-bottom: 20px;
}

.project_short_desc p{
    font-size: 0.8em;
    margin-bottom: 0.2em !important;

}