body{
  font-size: 17px;
  font-family: "Times New Roman",Times,Georgia,serif;
  /* font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;*/
  /*font-family: "MinionPro";*/
}

p, li {
  line-height: 1.7;
  color: #3c4445;

}
/*TLÜ stiili järgi tavaline teks arial pealkiri times new roman */
h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman",Times,Georgia,serif;
  /*font-family: "MinionPro";*/
}

@media only screen and (min-width:768px) {
  header.masthead .page-heading h1, header.masthead .site-heading h1 {
    font-size: 55px;
  }
}

@media (min-width: 992px) {
  #mainNav.is-fixed {
    background-color: #ffffffeb !important;
    border-bottom: 5px #6bcaba solid;
    top: -92px;
  }
}

#mainNav .navbar-brand {
  padding-top: 5px;
  padding-bottom: 0;
}

.main-page-news {
  border-bottom: 1px #6bcaba solid;
}

.main-page-news-image-container {
}

.main-page-news-image-container > img {
  width: 100%;
  padding-bottom: 5px;
}

:root {
}

body {
}

.btn.btn-primary {
  background-color: #4B8D89;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #6BCABA!important;
  border: 1px #6BCABA solid!important;
}

.divider-center .divider-line-1 {
  width: 100%;
  height: 2px;
  background: #dedede;
  position: absolute;
  z-index: 10;
}

.divider-center {
  position: relative;
}

.divider-center .divider-line-2 {
  width: 100px;
  background: #6bcaba;
  margin: 0 auto;
  z-index: 11;
  position: absolute;
  height: 2px;
  left: 50%;
  margin-left: -50px;
}

.post-content img{
  max-width: 100%;
}

a{
  color: #4B8D89;
}
a:hover{
  transition: 0.3s;
  color: #6bcaba;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 20px;
}
nav.navbar ul.nav li.dropdown .dropdown-menu{
  margin-top: -5px!important;
}

.active{
  color: #dedede!important;
}

 
/* Style about "Header1" */
.nav-link {
  font-size: 18px;
  color: #3c3c3c!important;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navbar {
  border-bottom: 5px #6bcaba solid;
}

/*slider*/
.swiper-slide h1{
  color: #ffffff;
  font-family: Oswald,sans-serif;
  text-transform: uppercase;
  display: block;
}
.swiper-slide p{
  padding-top: 2px;
  display: block;
}

/*footer disain*/
.footer-navigation p{
  color: #ffffff;
  font: 14px sans-serif;
  margin: 15px 0;
}

.footer-navigation h4{
  color: #3c4445;
  font: bold 14px sans-serif;
  padding-top: 5px;
}

.footer-about h4{
  color: #3c4445;
  font: bold 14px sans-serif;
  padding-top: 30px;

}

.footer-about .company-name{
  text-align: center;
  padding-top: 130px;
  color: #3c4445;
}

/*news picture*/
.img-fluid-innews{
  max-height: 100px;
  margin: 15px;
}


table{
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: center;
}

table td , th {
  border:1px solid #dee2e6;
  padding: .75rem;
  min-width: 200px;
}

/*people picture*/
.picture-style{
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}