---
layout: default
---
<header class="masthead" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="site-heading">
                    <h1><strong>{{ page.title }}</strong></h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
   
    {{ content }}

</div>